.Btn_main__cont{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(237, 235, 235, 0.74);

    position: relative;
    top: auto;
    padding: 0 5%;
    z-index: 11;
    background-color: rgba(237, 235, 235, 0.74);
    backdrop-filter: blur(10px);
    height: 70px;
    animation: auto ease 0s 1 normal none running none;
}
.Login_btn, .Register_btn{
    background: #fff;
    width: 130px;
    opacity: 0.8;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    cursor: pointer;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
    height: 44px;
    margin: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-decoration: none !important;
}