<!-- <button type="button" (click)="clickMessage()">შესვლა</button>
<button type="button" (click)="Register()">Register</button> -->


<!-- @if(modal) {
<div class="auth-container">
  <h2>ავტორიზაცია</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">ელ. ფოსტა</label>
      <input type="email" id="email" name="email" ngModel required placeholder="შეიყვანეთ ელ. ფოსტა"
        class="form-control">
    </div>

    <div class="form-group">
      <label for="password">პაროლი</label>
      <input type="password" id="password" name="password" ngModel required placeholder="შეიყვანეთ პაროლი"
        class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">შესვლა</button>
  </form> -->
<!-- <div class="alternative-auth">
      <p>თუ გინდათ, შეგიძლიათ გაიაროთ რეგისტრაცია:</p>
      <button class="btn btn-secondary" (click)="toggleRegister()">რეგისტრაცია</button>
    </div>
   
    <div *ngIf="isRegistering" class="register-form">
      <h2>რეგისტრაცია</h2>
      <form (ngSubmit)="onRegister()">
        <div class="form-group">
          <label for="registerEmail">ელ. ფოსტა</label>
          <input type="email" id="registerEmail" name="registerEmail" ngModel required placeholder="შეიყვანეთ ელ. ფოსტა"
            class="form-control">
        </div>
  
        <div class="form-group">
          <label for="registerPassword">პაროლი</label>
          <input type="password" id="registerPassword" name="registerPassword" ngModel required
            placeholder="შეიყვანეთ პაროლი" class="form-control">
        </div>
  
        <button type="submit" class="btn btn-primary">რეგისტრაცია</button>
      </form>
    </div> -->

<!-- </div>
} -->
<!-- @if(regModal){ -->
<!-- <div class="auth-container">
  <h2>რეგისტრაცია</h2>
  <form (ngSubmit)="onRegister()">
    <div class="form-group">
      <label for="name">სახელი</label>
      <input type="text" placeholder="შეიყვანეთ სახელი" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">ელ.ფოსტა</label>
      <input type="email" required placeholder="შეიყვანეთ მეილი" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">პაროლი</label>
      <input type="password" required placeholder="შეიყვანეთ პაროლი" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">რეგისტრაცია</button>
  </form>

</div> -->



<!-- <form action="">
  <input type="text" placeholder="Username">
  <input type="email" placeholder="Email">
  <input type="assword" placeholder="Password">
</form> -->
<!-- } -->
<!-- <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
<mat-slide-toggle></mat-slide-toggle>
 
<input matInput [matDatepicker]="picker">
<mat-hint>MM/DD/YYYY</mat-hint>
<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
<mat-form-field>
  <mat-select >
      <mat-option>asf</mat-option>
      <mat-option>asf</mat-option>
  </mat-select>
</mat-form-field> -->
<!-- <div>
  <a [routerLink]="'/login'">Login</a><br>
  <a [routerLink]="'/register'">Register</a>
</div> -->
<div>
  <a routerLink="/login" ariaCurrentWhenActive="page">Login</a><br>
  <a routerLink="/register" ariaCurrentWhenActive="page">Register</a>
</div>
<router-outlet></router-outlet>